<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teka-Gas</title>
</head>

<body>
    <header>
        <h1>Teka-Gas</h1>
        <img src="fotos/logo.jpg" alt="Logo de TEKA" style="max-width: 200px;">
    </header>

    <div class="iconos">
        <img src="fotos/foto1.jpg" alt="Modelo 1">
        <img src="fotos/foto2.jpg" alt="Modelo 2">
        <img src="fotos/foto3.jpg" alt="Modelo 3">
    </div>

    <h2>La Elección de Expertos en Estufas de Gas</h2>

    <div class="promociones">
        <p>¡Calidez sin límites! Descubre nuestras estufas de gas Teka-Gas con tecnología de vanguardia, diseñadas para brindarte un calor eficiente y constante en cada rincón de tu hogar.</p>
        <p>Renueva tu cocina con estilo y funcionalidad. En Teka-Gas, encontrarás una amplia gama de estufas de gas elegantes y de alto rendimiento, perfectas para satisfacer todas tus necesidades culinarias.</p>
        <p>¡Ofertas que te calientan el corazón! Aprovecha nuestras promociones especiales y descuentos exclusivos en estufas de gas Teka-Gas. ¡Haz de tu hogar un lugar aún más acogedor con nuestras soluciones de calefacción!</p>
    </div>

    <div class="imagenes">
        <img src="fotos/foto4.jpg" alt="Modelo 4">
        <p>Transforma tu cocina en un espacio de chef profesional</p>
        <img src="fotos/foto5.jpg" alt="Modelo 5">
        <p>No solo calentamos tus espacios, ¡sino también tus momentos más preciados!</p>
    </div>

</body>
</html>
